.removeBtn::after {
    content: 'X'
}

.removeBtn {
    position: absolute;
    display: none;
    top: 0;
    right: 5px;
}

.removeBtn:hover {
    color: red;
}

li:hover .removeBtn {
    display: block;
}

li {
    position: relative;
}

div {
    display: inline-block;
}